.number-form {
    display: flex;
    flex-direction: column;
}

.number-form button {
    cursor: pointer;
}


.form-element:active {
    outline: none;
}
.form-element:focus {
    outline: none;
}

.form-element {
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    padding: 14px;
}

.number-form__button:active {
    outline: none;
}
.number-form__button:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}